@model MyCard.Web.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Areas/Admin/Views/Shared/_MasterLayoutSuperAdmin.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div>
        <div class=" col-xs-5">
            <div class="row">
                <p hidden>@Html.ValidationSummary(false, "", new { @class = "p-small medium red-color" })</p>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class=" col-xs-5">
            <div class="row">
                @Html.EditorFor(model => model.OldPassword, new { htmlAttributes = new { placeholder = "Old Password" } })
            </div>
        </div>
        <div class="clearfix"></div>

        <div class=" col-xs-5">
            <div class="row">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { placeholder = "New Password" } })
            </div>
        </div>
        <div class="clearfix"></div>


        <div class=" col-xs-5">
            <div class="row">
                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { placeholder = "Confirm New Password" } })
            </div>
        </div>
        <div class="clearfix"></div>

        <div class=" col-xs-5">
            <div class="row">

                <div>
                    <div class="pull-right"> <button type="submit" class="submit" name="changepassword" id="changepassword">@MyCard.Web.Resources.CaptionsAll.ChangePassword</button> </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <br />
    <div>@ViewBag.Message</div>
}



