@model MyCard.Web.Models.EmployeeListingViewModel
@{
    ViewBag.Title = "Employees Listing";
    Layout = "~/Areas/Admin/Views/Shared/_MasterLayoutSuperAdmin.cshtml";
}

@using (Ajax.BeginForm("CompaniesEmployees", "Default", new AjaxOptions { HttpMethod = "Post", InsertionMode = InsertionMode.Replace, UpdateTargetId = "CompaniesEmployeesDiv" }))
{
    
    <div class="col-md-12">
        <div class="pull-right">
            <a href="#" onclick="exportfunc();"><h5>Export</h5></a>
        </div>
        <h3 class="mar-bot15 color-blue book h3-well">  <a class="mar-bot15 color-blue book h3-well" href="@Url.Action("CompaniesListing", "Default")">Companies Listing</a> -> Employee Listing</h3>

        <div class="row">
            <div class="col-md-3 mar-right15">
                <div class="">
                    @Html.TextBoxFor(m => m.SearchString, Model.SearchString, new { @placeholder = "Search employee" })
                </div>
            </div>

            <div class="col-md-3">
                <div class="">
                    @Html.TextBox("DateFrom", "", new { @placeholder = "From Date" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="">
                    @Html.TextBox("DateTo", "", new { @placeholder = "To Date" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="">
                    <input type="button" id="SearchButton" Name="SearchButton" value="Search" />
                </div>
            </div>

        </div>
    </div>

    <div id="CompaniesEmployeesDiv">
        @Html.Partial("_PartialCompaniesEmployees", Model)

    </div>
}

<div style="top:25%;" class="modal fade popup_view" id="confirmpopup_view" name="confirmpopup_view">
    <div class="modal-dialog">
        <div style="border:none;" class="modal-content">
            <div class="col-xs-12">
                <div class="green-bg popup">
                    <div class="col-xs-3"><img alt="tick" src="~/img/admin/ask.png" class="img-responsive center-block" /></div>
                    <div class="col-xs-9">
                        <h4 class="color-white five"> @MyCard.Web.Resources.CaptionsAll.DeActivateEmployeeAdminMessage1</h4>
                        <h4 class="color-white three">
                            @*@MyCard.Web.Resources.CaptionsAll.DeActivateEmployeeMessage2*@
                        </h4>
                    </div>
                    <div class="clear"></div>
                </div>
                <button type="button" class=" submit small pull-right" id="btnYesConfirmYesNo">OK <i class=" fa fa-next"></i></button>
                <button type="button" class=" submit small pull-right mar-right10" id="btnNoConfirmYesNo">Back <i class=" fa fa-next"></i></button>
            </div>
        </div>
    </div>
</div>



<script type="text/javascript">
    //$(".pager").click(function (evt) {
    //    var pageindex = $(evt.target).data("pageindex");
    //    $("#CurrentPageIndex").val(pageindex);
    //    evt.preventDefault();
    //    $("form").submit();
    //});
    function pagerclick(pindex) {
        var pageindex = pindex;
        $("#CurrentPageIndex").val(pageindex);
        $("form").submit();
    }


    function PageSizeChange() {
        $("#CurrentPageIndex").val(0);
        $("form").submit();
    }

    $("#SearchString").keyup(function (event) {
        //if (event.keyCode == 13) {
            $("#CurrentPageIndex").val(0);
            $("form").submit();
        //}
    });

    function exportfunc() {
        var url = "/Admin/Default/CompaniesEmployeesExport?"
            + "&SearchString=" + $("#SearchString").val()
            + "&DateTo=" + $("#DateTo").val()
            + "&DateFrom=" + $("#DateFrom").val()
            + "&CompanyID=" + $("#CompanyID").val();

        window.location.href = url;

    }

    $("#SearchButton").click(function (event) {
        $("#CurrentPageIndex").val(0);
        $("form").submit();
    });

    $(function () {
        // This will make every element with the class "date-picker" into a DatePicker element
        $('.date-picker').datepicker();
        $("#DateFrom").datepicker({ dateFormat: 'd-M-yy' }).val();
        $("#DateTo").datepicker({ dateFormat: 'd-M-yy' }).val();
    })



    function Paging() {
        $("form").submit();
    }

    function backFunction() {
        $('#crosspopup_view').modal('hide');
    }

    function showAlert(status, item) {
        //$('#crosspopup_view').modal({ backdrop: 'static', keyboard: false });
        var r = confirm("Are you sure you want to deactivate employee!");
        if (r == true) {
            deActivateEmployee(status, item)
            //document.getElementById("hfCurrentPageIndex").value = index;
            //document.forms[0].submit();
            Paging();
        }
        else {
            //alert("You pressed Cancel!");
        }
    }

    function deActivateEmployee(empstatus, elem) {
        var isDone = empstatus;
        var uid = elem;//$(elem).data('itemid');
        $.ajax({
            type: 'POST',
            url: '@Url.Action("DeactivateEmployee", "CompanyDashboard", new { area=""})',
        data: { status: isDone,userid:uid },
        //data: { approved: isDone},
        success: function(res) {
            console.log(res);
        }
    });
    }

    function AsyncConfirmYesNo(empstatus, elem) {
        var $confirm = $("#confirmpopup_view");
        $confirm.modal('show');
        $("#btnYesConfirmYesNo").off('click').click(function () {
            deActivateEmployee(empstatus, elem);
            $confirm.modal("hide");
            Paging();
        });
        $("#btnNoConfirmYesNo").off('click').click(function () {
            $confirm.modal("hide");
            Paging();
        });
    }
</script>





