@model MyCard.Web.Models.LoginViewModel

@{
    ViewBag.Title = @MyCard.Web.Resources.CaptionsAll.AdminLoginTitle;
    Layout = "~/Areas/Admin/Views/Shared/_MasterLayoutSuperAdmin.cshtml";
}

<div  class=" col-xs-12">
    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
    {
        @*@Html.AntiForgeryToken()*@
        @Html.HiddenFor(model => model.RememberMe)
        <div>
            <div class=" col-xs-5">
                <div class="row">
                    @Html.ValidationSummary(true, "", new { @class = "error red-color p-small medium" })
                    @if (string.IsNullOrEmpty(ViewBag.Message))
                    {
                        <p id="errornotification" class="error red-color p-small medium" hidden>Please complete the highlighted mandatory fields</p>
                    }
                    else
                    {
                        <p id="errornotification" class="error red-color p-small medium">@ViewBag.Message</p>
                    }
                </div>
            </div>
            <div class="clearfix"></div>

            <div class=" col-xs-5">
                <div class="row">
                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { placeholder = "user name  or email" } })

                </div>
            </div>
            <div class="col-xs-7"><p class="red-color">@Html.ValidationMessageFor(model => model.UserName)</p></div>
            <div class="clearfix"></div>

            <div class=" col-xs-5">
                <div class="row">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { placeholder = "password" } })

                </div>
            </div>
            <div class="col-xs-7"><p class="red-color">@Html.ValidationMessageFor(model => model.Password)</p></div>
            <div class="clearfix"></div>

            <div class=" col-xs-5">
                <div class="form row">
                    <div class="pull-left mar-top15 check-m-top">
                        <div class="squaredChk pull-left">
                            <input id="chkRemMe" name="chkRemMe" class="hidden" type="checkbox" value="None">
                            <label id="chkLabel" class="" for="chkRemMe"></label>
                        </div>
                        <label class="pull-left p-small book mar-left5">@MyCard.Web.Resources.CaptionsAll.RememberMe</label>
                    </div>
                    <div class="pull-right"> <button type="button" class="submit" name="login" id="login">@MyCard.Web.Resources.CaptionsAll.LoginButton</button> </div>
                    <div class="clear"></div>
                </div>
            </div>

            @*<div class=" col-xs-5">
                <div class="row">
                    <div class="squaredChk pull-left">
                        @Html.HiddenFor(model => model.RememberMe, new { @class = "pull-left box" }) 
                        <label id="chkLabel" class="" for="RememberMe"></label> @MyCard.Web.Resources.CaptionsAll.LoginRemeberMe
                    </div>
                
                    <div>
                        <div class="pull-right"> <button type="submit" class="submit" name="login" id="login">@MyCard.Web.Resources.CaptionsAll.LoginButton</button> </div>
                    </div>
                </div>
            </div>*@

            <div class="clearfix"></div>

        </div>
    }
    @*<a href="@Url.Action("ForgotPassword", "Default")" class="txt-bold color-blue">@MyCard.Web.Resources.CaptionsAll.ForgotPasswordTitle</a>*@
    <br />
    
</div>
<script type="text/javascript">
     $(document).ready(function () {
         if ($("#chkRemMe").checked) {
             $('#RememberMe').val(true);
         }
         else {
             $('#RememberMe').val(false);
         }

         $("#chkRemMe").change(function () {
             if (this.checked) {
                 $('#RememberMe').val(true);
             }
             else {
                 $('#RememberMe').val(false);
             }
         });

        // Attach click handler to the submit button:
        $('#login').click(function () {
            if ($('#UserName').val() == '') {
                $('#UserName').css('border-color', 'red');
                $('#errornotification').show();
            }
            else {
                $('#UserName').css('border-color', '');
            }
            ///////////////
            if ($('#Password').val() == '') {
                $('#Password').css('border-color', 'red');
                $('#errornotification').show();
            }
            else {
                $('#Password').css('border-color', '');
            }

            ///////////////

            if ($('#UserName').val() == '' || $('#Password').val() == '') {
                $('#errornotification').show();
                return false;
            }
            else {
                $('#errornotification').hide();
            }
            ///////////////
            $("form").submit();
        });

    });
</script> 
